<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.docs.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <!--<script src="/static/js/vue.min.js"></script>-->
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
<div  class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small" href="/"><i class="uk-icon-home"></i> Awesome </a>
        <ul id="nav" class="uk-navbar-nav uk-hidden-small">
            <li  v-for="(item,index) in navs" :class="{'uk-active': index==now_index}">
                <a :id="item.id" :data-url="item.data_url" :href="item.nav_url" @click="navClick(index)" v-text="item.nav_title"></a>
            </li>
            <li>
                <a target="_blank" href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">教程</a>
            </li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                {% if __user__ %}
                <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <a href=""><i class="uk-icon-cogs"></i> 管理员操作 </a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
                        <ul class="uk-nav uk-nav-navbar">
                            <li class="uk-nav-header">用户管理</li>
                            <li><a href="/manage/users">用户列表</a></li>
                            <li class="uk-nav-header">日志管理</li>
                            <li><a href="/manage/blogs">日志列表</a></li>
                            <li><a href="/manage/blogs/create">新建日志</a></li>
                            <li class="uk-nav-header">评论管理</li>
                            <li><a href="/manage/comments">评论列表</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Separated item</a></li>
                        </ul>
                    </div>
                </li>
                <li class="uk-parent" data-uk-dropdown>
                    <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- content -->{% block content %}{% endblock %}<!-- // content -->
</div>
<div class="site-footer uk-margin-large-top">
    <div class="uk-container uk-container-center uk-text-center">
        <div class="uk-panel uk-margin-top uk-margin-bottom">
            <p>
                <a target="_blank" href="http://weibo.com/liaoxuefeng" class="uk-icon-button uk-icon-weibo"></a>
                <a target="_blank" href="https://github.com/michaelliao" class="uk-icon-button uk-icon-github"></a>
                <a target="_blank" href="http://www.linkedin.com/in/liaoxuefeng" class="uk-icon-button uk-icon-linkedin-square"></a>
                <a target="_blank" href="https://twitter.com/liaoxuefeng" class="uk-icon-button uk-icon-twitter"></a>
            </p>
            <p>Powered by <a href="http://awesome.liaoxuefeng.com">Awesome Python Webapp</a>. Copyright &copy; 2014. [<a href="/manage/" target="_blank">Manage</a>]</p>
            <p><a href="http://www.liaoxuefeng.com/" target="_blank">www.liaoxuefeng.com</a>. All rights reserved.</p>
            <a target="_blank" href="http://www.w3.org/TR/html5/"><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
        </div>

    </div>
</div>
</body>
<script src="/static/js/nav.js"></script>
</html>