{% extends '__base__.html' %}

{% block title %}Acfun_DAILY_POST{% endblock %}

{% block beforehead %}

<script>
    function initVM(data)
    {
        var vm = new Vue({
            el: '#vm',
            data: {
                focus: data.focus,
                tags: data.tags,
                page: data.page
            },
            methods: {
                gotoPage: function (page) {
                    gotoPage(page)
                },
            },
        });
        $('#vm').show();
    }
    $(function() {
        getJSON('/api/acfun/focus', {page: {{ page_index }}}, function(err, results) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(results);
        });
    });
</script>

{% endblock %}

{% block content %}

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <h1 class="uk-heading-large">ACFUN_WEEKLY_POST</h1>
            <p class="uk-text-large">ACFUN 每周 推送合集.</p>
        </div>
    </div>

    <div id="vm" class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">

            <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#switcher-content'}">
                <li class="uk-active"><a href="#">All</a></li>
                <li v-for="tag in tags"><a v-text="tag" href="#"></a></li>
            </ul>

            <ul id="switcher-content" class="uk-switcher">

                <li class="uk-active" v-for="item in focus">
                    <div class="uk-grid" data-uk-grid-margin >
                        <div class="uk-width-medium-1-3" v-for="val in item">
                            <!--显示界面-->
                            <!--<div class="uk-thumbnail uk-overlay-hover" data-uk-modal="{target:'#modal-1'}" >-->
                            <div class="uk-thumbnail uk-overlay-hover" >
                                <figure class="uk-overlay">
                                    <img width="600" height="200" :src="val.title_img" alt="" style="height:200px">
                                    <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-overlay-bottom uk-overlay-slide-bottom">
                                        <div v-text='"up主 : "+val.user_name'></div>
                                        <div v-text='"标题 : "+val.title'></div>
                                        <div v-text='"推送时间 : "+val.release_date'></div>
                                        <!--<div v-text="val.release_date"></div>-->
                                    </figcaption>
                                    <a class="uk-position-cover" target="_blank" :href="val.url"></a>
                                </figure>
                            </div>
                            <!--显示上面的数据-->
                            <div id="modal-1" class="uk-modal">
                                <div class="uk-modal-dialog uk-modal-dialog-lightbox">
                                    <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                    <img width="600" height="400" :src="val.title_img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <ul class="uk-pagination">
                <li class="uk-disabled" :class="{'uk-active': page.has_previous}">
                    <span><i class="uk-icon-angle-double-left"></i> 上一页 </span>
                </li>
                <li v-for="pages in page.page_count" class="uk-active" :class="{'uk-disabled': pages!=page.page_index}">
                    <template v-if="pages==page.page_index">
                        <span v-text="pages"></span>
                    </template>
                    <template v-else>
                        <a v-text="pages" @click="gotoPage(pages)"></a>
                    </template>
                </li>
                <li><span>...</span></li>
                <li class="uk-disabled" :class="{'uk-active': page.has_next}">
                    <a href="#"><span><i class="uk-icon-angle-double-right"></i> 下一页 </span></a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}