{% extends '__base__.html' %}

{% block title %}Acfun_DAILY_POST{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box uk-text-center uk-text-success">
                very welcome u come to this chatroom.
            </div>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-3-4">
                <div class="uk-panel uk-panel-header ">
                    <!--<h3 class="uk-panel-title">here was who you talk</h3>-->
                    <div class="uk-panel uk-panel-box uk-panel-box-secondary ">
                        <div>
                            <h3 class="uk-panel-title">here was who you talk</h3>
                            <p>
                                <strong> who: </strong>
                                <br>message
                                <br>message
                            </p>
                            <p>
                                <a>link message</a>
                                <br><a>email message</a><br>
                                message
                            </p>
                            <h3 class="uk-h4">Follow Us</h3>
                            <p>
                                <a href="#" class="uk-icon-button uk-icon-github"></a>
                                <a href="#" class="uk-icon-button uk-icon-twitter"></a>
                                <a href="#" class="uk-icon-button uk-icon-dribbble"></a>
                                <a href="#" class="uk-icon-button uk-icon-html5"></a>
                            </p>
                            <hr class="uk-article-divider">
                        </div>
                    </div>
                </div>
                <div class="uk-panel uk-panel-header ">
                    <form class="uk-form uk-form-stacked">
                        <div class="uk-form-row">
                            <label class="uk-form-label">Your Message</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-width-1-1" id="form-h-t" cols="100" rows="9"></textarea>
                            </div>
                        </div>

                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <button class="uk-button uk-button-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box-primary">
                <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="">
                    <li class="uk-nav-header">friends && groups</li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li class="uk-parent" aria-expanded="false">
                        <a href="#">Parent</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a>
                                <ul>
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-header ">
            </div>
        </div>
    </div>
{% endblock %}