{% extends '__base__.html' %}

{% block title %}CHAT ROOM{% endblock %}

{% block beforehead %}
<script>var now_index = 3</script>
<script src="/static/js/components/swoole.js"></script>
{% endblock %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-5">
            <div class="uk-alert" data-uk-alert>
                <a href="#" class="uk-alert-close uk-close"></a>
                <p>very welcome u come to this chatroom.</p>
            </div>
        </div>
        <div class="uk-width-medium-3-5">
            <div class="uk-panel uk-panel-header ">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                    <h3 class="uk-panel-title" id="who_to_talk">here was who you talk</h3>
                    <div class="uk-overflow-container" id="chat_box" style="height: 300px"></div>
                </div>
            </div>
            <div class="uk-panel uk-panel-header">
                <form class="uk-form uk-form-stacked" action="#">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="send_msg">Your Message</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-width-1-1" id="send_msg" cols="100" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-form-controls uk-float-right">
                            <button type="button" class="uk-button uk-button-primary" onclick="sendText()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="uk-width-medium-1-5">
            <div class="uk-panel uk-panel-box-primary">
                <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="" id="show_user">
                    <li class="uk-nav-header">friends && groups</li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li class="uk-parent" aria-expanded="false">
                        <a href="#">Parent</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a>
                                <ul>
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}