{% extends '__base__.html' %}

{% block title %}Acfun_DAILY_POST{% endblock %}

{% block beforehead %}

<script>
    var client_id = 0, server_id = 0, client_name = '';
    var message = '';
    window.onload = function (event) {
        client_name = generateMixed(6);
        document.getElementById("who_to_talk").innerHTML = client_name
    };
    var exampleSocket = new WebSocket("ws:127.0.0.1:9501");
    exampleSocket.onopen = function (event) {
        exampleSocket.send("Here's some text that the server is urgently awaiting!");
    };
    exampleSocket.onmessage = function(event) {
        message = event.data;
        parse_msg =  JSON.parse(message);
        client_id = parse_msg.client_id;
        server_id = parse_msg.server_id;
        if(server_id == 999) { server_id = '系统消息'; }
        rcv_msg = parse_msg.message;
        console.log(parse_msg);
        var f = document.getElementById("chat_box").contentDocument;
        var text = "<div>";
        var time = new Date(parse_msg.date);
        var timeStr = time.toLocaleTimeString();
        text = "<p><strong> "+client_name+": "+timeStr+"</strong> <br>"+rcv_msg+" </p>"
        text += "</div>"
        if (text.length) {
          f.write(text);
          document.getElementById("chat_box").contentWindow.scrollByPages(1);
        }
    };
    exampleSocket.onclose = function (event) {
        console.log(event)
    }
</script>

{% endblock %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box uk-text-center uk-text-success">
                very welcome u come to this chatroom.
            </div>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-3-4">
                <div class="uk-panel uk-panel-header ">
                    <!--<h3 class="uk-panel-title">here was who you talk</h3>-->
                    <div class="uk-panel uk-panel-box uk-panel-box-secondary" id="chat_box">
                        <h3 class="uk-panel-title" id="who_to_talk">here was who you talk</h3>
                        <div>
                            <p>
                                <strong> who: </strong>
                                <br>message
                                <br>message
                            </p>
                            <p>
                                <a>link message</a>
                                <br><a>email message</a><br>
                                message
                            </p>
                            <h3 class="uk-h4">Follow Us</h3>
                            <hr class="uk-article-divider">
                        </div>
                    </div>
                </div>
                <div class="uk-panel uk-panel-header ">
                    <form class="uk-form uk-form-stacked" action="#">
                        <div class="uk-form-row">
                            <label class="uk-form-label">Your Message</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-width-1-1" id="send_msg" cols="100" rows="9"></textarea>
                            </div>
                        </div>

                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <button class="uk-button uk-button-primary" onclick="sendText()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box-primary">
                <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="">
                    <li class="uk-nav-header">friends && groups</li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li class="uk-parent" aria-expanded="false">
                        <a href="#">Parent</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a>
                                <ul>
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-header ">
            </div>
        </div>
    </div>
{% endblock %}